---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% if page.seo_title %}{{ page.seo_title }} | {% endif %}{{ site.seo_title }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}

    <link rel="stylesheet" href="{{ 'application.css' | stylesheet_url }}">
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//use.typekit.com/ziw5pce.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    {% inline_editor %}
  </head>
  <body{% if page.fullpath == 'index' %} class="home"{% endif %}>
    <div id="page" class="container">
      <header id="site-header" class="sixteen columns">
        <a href="/" id="logo">{{ 'logo_wine_cask.png' | theme_image_tag: alt:site.name }}</a>

        <nav id="site-navigation">
          <ul id="nav-left">
            {% nav site, no_wrapper: true, exclude: 'blog|gallery|reviews-press|contact' %}
          </ul>

          <ul id="nav-right">
            {% nav site, no_wrapper: true, exclude: 'about|menus|reservations|private-groups' %}
          </ul>
        </nav>
      </header>

      <div id="content" class="sixteen columns">
        {% block 'banner' %}
        <div id="hero">
          {% if page.fullpath == 'index' %}
            <div class="slideshow">
              {% for gallery in contents.galleries %}
              	{% if gallery.slideshow == true %}
              		{% for slide in gallery.images %}
              			{{ slide.image.url | image_tag }}
              		{% endfor %}
              	{% endif %}
          	  {% endfor %}
            </div>
          {% else %}
            {% capture hero %}{% editable_file 'hero' %}{{ 'hero-default.jpg' | theme_image_url }}{% endeditable_file %}{% endcapture %}
            <img src="{{ hero }}" alt="">
          {% endif %}
        </div>
        {% endblock %}
      
        {% block 'content' %}
          {% editable_long_text 'content' %}{% endeditable_long_text %}
        {% endblock %}
      </div>

      {% if page.fullpath == 'index' %}
        {% block latest_news %}
          {% for news in contents.latest_news %}
            <div class="news-item">
              {{ news.image.url | image_tag }}
              <h2><em>Latest News:</em> {{ news.title }}</h2>
              {{ news.body }}
            </div>
          {% endfor %}
        {% endblock %}
      {% endif %}

      <footer id="site-footer" class="sixteen columns">
        <dl>
          <dt>American Riviera Dining Sites:</dt>
          <dd><a href="/">Wine Cask</a></dd>
          <dd><a href="//www.intermezzosb.com/" rel="external">Intermezzo</a></dd>
          <dd><a href="//www.bouchonsantabarbara.com/" rel="external">Bouchon</a></dd>
        </dl>
      
        <p id="copyright">&copy;{{ now | localized_date: '%Y' }} {{ site.name }} / Website by <a href="http://cmnd-o.com" rel="external">CMND-O</a></p>
      </footer>
    </div>
    {{ 'jquery.js'  | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}
    {{ 'script.js'  | javascript_tag }}
    {% google_analytics 'UA-1046984-24' %}
  </body>
</html>
