<!doctype html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Wine Cask Restaurant by American Riviera Dining</title>
    
    <meta name="description" content="{{ site.meta_description }}">
    <meta name="keywords" content="{{ site.meta_keywords }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="{{ 'mobile.css' | stylesheet_url }}">
  </head>
  <body>
    <div id="page-mobile">
      <header id="mobile-header">
        <a href="/" id="logo"><img src="https://s3.amazonaws.com/winecask/images/splash_logo_wine_cask.png" alt="Wine Cask Restaurant"></a>
        
        <h1>Wine Cask Restaurant</h1>
        <ul>
          <li><a href="tel:+18059669463">(805) 966-9463</a> | <a href="http://www.opentable.com/single.aspx?rid=37453&restref=37453">Reservations</a></li>
          <li><a href="maps.google.com?q=813 Anacapa Street, Santa Barbara, CA 93101">813 Anacapa Street, Santa Barbara, CA 93101</a></li>
        </ul>
        
        {% block header %}
          {% editable_long_text 'header' %}{% endeditable_long_text %}
        {% endblock %}
        
        <p><a href="/" class="button" id="full-site-button">View full site</a></p>
      </header>

      {% block content %}
        {% editable_long_text 'content' %}{% endeditable_long_text %}
      {% endblock %}

      <footer id="mobile-footer">
        <dl>
          <dt>American Riviera Dining Sites:</dt>
          <dd><a href="/" rel="external">Wine Cask</a></dd>
          <dd><a href="http://www.intermezzosb.com" rel="external">Intermezzo</a></dd>
          <dd><a href="http://bouchonsantabarbara.com/" rel="external">Bouchon</a></dd>
        </dl>
        
        <p id="copyright">&copy;{{ now | localized_date: '%Y' }} {{ site.name }} / Website by <a href="http://cmnd-o.com" rel="external">CMND-O</a></p>
      </footer>
    </div>

    {{ 'jquery.js'  | javascript_tag }}
    {{ 'plugins.js' | javascript_tag }}
    {{ 'mobile.js'  | javascript_tag }}
  </body>
</html>